## 라이브러리

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr, spearmanr, kendalltau
from scipy import stats
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

## 데이터 불러오기

In [2]:
path = './data/'

df = pd.read_csv(path+'전처리된_전체_데이터.csv')

In [3]:
df

,Year,Month,Region_Name,Building_Age,Building_Use,JS_Price,JS_BA,Population,IR,UR,LC_index,CA_index,TC_index,SDT_index,HSP_index,Sell_Price,Crime_Rates,위도,경도
0,2011,1,관악구,6,오피스텔,12000,25.05,521193,2.75,3.8,72.0,78.2,74.2,NaN,81.2,15800.00,NaN,37.474500,126.981390
1,2011,2,관악구,6,오피스텔,10000,25.05,521193,2.75,4.5,72.3,78.2,74.5,NaN,82.0,16875.00,NaN,37.474500,126.981390
2,2011,2,관악구,6,오피스텔,10500,26.18,521193,2.75,4.5,72.3,78.2,74.5,NaN,82.0,16875.00,NaN,37.474500,126.981390
3,2011,5,관악구,6,오피스텔,12000,27.15,521193,3.00,3.2,72.6,78.9,75.8,NaN,80.6,17216.67,NaN,37.474500,126.981390
4,2011,10,관악구,6,오피스텔,11500,27.15,521193,3.25,2.9,72.9,80.0,77.1,NaN,79.4,22000.00,NaN,37.474500,126.981390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189429,2022,11,송파구,14,아파트,96900,84.80,652993,3.25,2.3,109.7,108.9,111.8,72.039914,146.8,193312.50,NaN,37.514069,127.081381
1189430,2022,11,서초구,17,아파트,25500,29.60,402936,3.25,2.3,109.7,108.9,111.8,72.039914,146.8,33000.00,NaN,37.486044,126.984201
1189431,2022,11,강서구,6,오피스텔,15180,25.55,567898,3.25,2.3,109.7,108.9,111.8,72.039914,146.8,18125.00,NaN,37.560579,126.837594
1189432,2022,11,송파구,9,오피스텔,19800,26.82,652993,3.25,2.3,109.7,108.9,111.8,72.039914,146.8,21100.00,NaN,37.480095,127.119684
1189433,2022,11,송파구,14,아파트,88000,84.79,652993,3.25,2.3,109.7,108.9,111.8,72.039914,146.8,165000.00,NaN,37.520536,127.106151

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189434 entries, 0 to 1189433
Data columns (total 19 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Year          1189434 non-null  int64
 1   Month         1189434 non-null  int64
 2   Region_Name   1189434 non-null  object
 3   Building_Age  1189434 non-null  int64
 4   Building_Use  1189434 non-null  object
 5   JS_Price      1189434 non-null  int64
 6   JS_BA         1189434 non-null  float64
 7   Population    1189434 non-null  int64
 8   IR            1182725 non-null  float64
 9   UR            1182725 non-null  float64
 10  LC_index      1182725 non-null  float64
 11  CA_index      1182725 non-null  float64
 12  TC_index      1182725 non-null  float64
 13  SDT_index     1040988 non-null  float64
 14  HSP_index     1166201 non-null  float64
 15  Sell_Price    1189434 non-null  float64
 16  Crime_Rates   793796 non-null   float64
 17  위도            1189434 non-null  float64
 18  경도            1189434 non-null  float64
dtypes: float64(12), int64(5), object(2)
memory usage: 172.4+ MB

In [5]:
df.columns

Index(['Year', 'Month', 'Region_Name', 'Building_Age', 'Building_Use',
       'JS_Price', 'JS_BA', 'Population', 'IR', 'UR', 'LC_index', 'CA_index',
       'TC_index', 'SDT_index', 'HSP_index', 'Sell_Price', 'Crime_Rates', '위도',
       '경도'],
      dtype='object')

In [6]:
df.drop('Region_Name', axis=1, inplace=True)
df.drop('Building_Use', axis=1, inplace=True)

## Categorical:

- Nominal(variables that have two or more categories, but which do not have an intrinsic order.)

    - Region_Name : 자치구 명
    - Building_Use : 건물 용도
    
- Ordinal(variables that have two or more categories just like nominal variables. Only the categories can also be ordered or ranked.)

    
## Numeric:

- Discrete
    - YearMonth : 년월
    - Building_Age : 건물연식
    - JS_Price : 전세가
   
- Continous
    - Sell_Price : 매매 가격
    - JS_BA = JS_Building Area : 임대 면적
    - lR = Interest Rate : 금리
    - UR = Unemployment Rate : 실업률
    - LC_index = Leading Composite index : 선행종합 지수
    - CA_index = Comprehensive Accompany index : 동행종합 지수
    - TC_index = Trailing Composite index : 후행종합 지수
    - SDT_index = Supply and Demand Trend index = 전세수급동향 지수
    - HSP_index = 
    - Population : 인구수
    - Crime_Rates : 범죄율
    - Shortest_Distance_to_Subway : 가장 가까운 지하철역과의 거리
    - Shortest_Distance_to_School : 가장 가까운 초중고등학교와의 거리
    - Shortest_Distance_to_Univ : 가장 가까운 대학교와의 거리
    - Shortest_Distance_to_Park : 가장 가까운 공원과의 거리

## 데이터 전처리

In [7]:
def detect_outliers(df, features_to_process):

    df_cleaned = df.copy()
    
    for feature in features_to_process:
        Q1 = df_cleaned[feature].quantile(0.25)
        Q3 = df_cleaned[feature].quantile(0.75)
        IQR = Q3 - Q1
        
        # IQR 범위 밖의 데이터를 이상치로 간주하고 제거
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df_cleaned = df_cleaned[(df_cleaned[feature] >= lower_bound) & (df_cleaned[feature] <= upper_bound)]
    
    return df_cleaned

In [8]:
df = detect_outliers(df, [df.columns])

In [9]:
df.dropna(inplace=True)

In [10]:
# 범주형 변수 더미화 함수, 범주형 변수의 범주 레벨 간의 관계가 중요할 시 사용
def oh_encoding(df):
    # DataFrame의 복사본을 만듭니다.
    encoded_df = df.copy()
    for column in df.columns:
        if df[column].dtype == object:
            encoded_df = pd.get_dummies(encoded_df, columns=[column], prefix=column)
            print(column)
    return encoded_df

In [11]:
df_encoded = oh_encoding(df)

## PCC

In [12]:
# 결과를 저장할 DataFrame 생성
result_df = pd.DataFrame(columns=['Column_Name', 'PCC', 'p-value'])

# 'JS_Price'와 다른 열 간의 PCC 및 p-value 계산 및 저장
for column in df.columns:
    if column != 'JS_Price':
        if df[column].dtype != object:
            correlation, p_value = pearsonr(df['JS_Price'], df[column])
            result_df = result_df.append({'Column_Name': column, 'PCC': correlation, 'p-value': p_value}, ignore_index=True)

In [13]:
result_df.sort_values(by='PCC', ascending=False).reset_index(drop=True)

     Column_Name       PCC        p-value
0     Sell_Price  0.722834   0.000000e+00
1          JS_BA  0.621160   0.000000e+00
2       CA_index  0.158789   0.000000e+00
3       LC_index  0.151132   0.000000e+00
4       TC_index  0.149601   0.000000e+00
5           Year  0.146138   0.000000e+00
6      HSP_index  0.126229   0.000000e+00
7             경도  0.088510   0.000000e+00
8          Month  0.055315   0.000000e+00
9    Crime_Rates  0.040830  7.175865e-250
10            UR -0.006081   4.997613e-07
11    Population -0.041498  4.741794e-258
12     SDT_index -0.047692   0.000000e+00
13            IR -0.140937   0.000000e+00
14  Building_Age -0.155094   0.000000e+00
15            위도 -0.264557   0.000000e+00

## 제거변수
- p-value값 고려
    - PCC 결과 a=0.05일 때 p-value값이 0.05초과인 변수는 통계적으로 상관관계가 유의하지 않으므로 변수 삭제 리스트에 추가
- correlation값 고려
    - PCC결과 상관계수 절댓값이 0.1이하인 변수는 삭제 리스트에 추가

In [14]:
delete_columns = ['JS_Price']

for index, row in result_df.iterrows():
    if abs(row['PCC']) < 0.1 or row['p-value'] > 0.05:
        delete_columns.append(row['Column_Name'])

delete_columns

['JS_Price', 'Month', 'Population', 'UR', 'SDT_index', 'Crime_Rates', '경도']

In [15]:
selected_features = list(set(df_encoded.columns) - set(delete_columns))
selected_features

['Building_Age',
 'HSP_index',
 'Sell_Price',
 'Year',
 'TC_index',
 '위도',
 'LC_index',
 'JS_BA',
 'CA_index',
 'IR']